<link REL=stylesheet TYPE=text/css href=.files/fsl.css>

<TABLE BORDER=0><TR>

<TD ALIGN=CENTER WIDTH=100%>

<TABLE BORDER=0>

<tr><td align=center><font size=+3><b>Higher-Level FEAT Report</b></font></tr>

<tr><td valign=center height=25 align=center>/ZPOOL/data/projects/rf1-sra-ugr/templates/OUTPUT.gfeat<br>
<!--runningstart-->
Finished at Wed Feb 21 10:53:59 AM EST 2024<br/><font size=+2><font color=red>Errors occured during the analysis</font></font>
<!--runningstop-->
</tr>

<tr valign=bottom><td align=center>
<A HREF=report_firstlevel.html target=_top>Inputs</A> &nbsp;-&nbsp;
<A HREF=report_reg.html target=_top>Registration summary</A> &nbsp;-&nbsp;
<A HREF=report_stats.html target=_top>Results</A> &nbsp;-&nbsp;
<A HREF=report_log.html target=_top>Log</A>

</tr></table>

<TD ALIGN=RIGHT>
<a href=http://www.fmrib.ox.ac.uk/fsl target=_top>
<IMG BORDER=0 SRC=file:/usr/local/fsl/doc//images/fsl-logo-big.jpg WIDTH=165></a>
</TD>

</TR></TABLE><hr>

