<HTML><HEAD>
<!--refreshstart-->

<!--refreshstop-->
<link REL=stylesheet TYPE=text/css href=.files/fsl.css>
<TITLE>FSL</TITLE></HEAD><BODY><OBJECT data=report.html></OBJECT>
<h2>Progress Report / Log</h2>
Started at Wed Feb 21 10:53:58 AM EST 2024<p>
Feat main script<br><pre>

/bin/cp /ZPOOL/data/projects/rf1-sra-ugr/templates/L3_task-ugr_group_n72_flame1.fsf design.fsf

/usr/local/fsl/bin/feat_model design

mkdir .files;cp /usr/local/fsl/doc/fsl.css .files;cp -r /usr/local/fsl/doc/images .files/images

/usr/local/fsl/bin/fsl_sub -T 60 -l logs -N feat2_pre   /usr/local/fsl/bin/feat /ZPOOL/data/projects/rf1-sra-ugr/templates/OUTPUT.gfeat/design.fsf -D /ZPOOL/data/projects/rf1-sra-ugr/templates/OUTPUT.gfeat -gfeatprep
Error submitting job - child process exited abnormally
    while executing
"if { [ catch {

for { set argindex 1 } { $argindex < $argc } { incr argindex 1 } {
    switch -- [ lindex $argv $argindex ] {

	-I {
	    incr arginde..."
    (file "/usr/local/fsl/bin/feat" line 312)


FATAL ERROR ENCOUNTERED:
COMMAND:
/usr/local/fsl/bin/fsl_sub -T 60 -l logs -N feat2_pre   /usr/local/fsl/bin/feat /ZPOOL/data/projects/rf1-sra-ugr/templates/OUTPUT.gfeat/design.fsf -D /ZPOOL/data/projects/rf1-sra-ugr/templates/OUTPUT.gfeat -gfeatprep
ERROR MESSAGE:
child process exited abnormally
END OF ERROR MESSAGE
</pre><hr>Higher-level input files preparation<br><pre>

/usr/local/fsl/bin/featregapply /ZPOOL/data/projects/rf1-sra-ugr/derivatives/fsl/sub-10317/L2_task-ugr_model-2_type-REPLACEME_sm-5.gfeat/copeCOPENUM.feat
couldn't change working directory to "/ZPOOL/data/projects/rf1-sra-ugr/derivatives/fsl/sub-10317/L2_task-ugr_model-2_type-REPLACEME_sm-5.gfeat/copeCOPENUM.feat": no such file or directory
    while executing
"cd [ lindex $argv 0 ]"
    (file "/usr/local/fsl/bin/featregapply" line 156)

FATAL ERROR ENCOUNTERED:
COMMAND:
/usr/local/fsl/bin/featregapply /ZPOOL/data/projects/rf1-sra-ugr/derivatives/fsl/sub-10317/L2_task-ugr_model-2_type-REPLACEME_sm-5.gfeat/copeCOPENUM.feat
ERROR MESSAGE:
child process exited abnormally
END OF ERROR MESSAGE
child process exited abnormally
    while executing
"if { [ catch {

for { set argindex 1 } { $argindex < $argc } { incr argindex 1 } {
    switch -- [ lindex $argv $argindex ] {

	-I {
	    incr arginde..."
    (file "/usr/local/fsl/bin/feat" line 312)
Error encountered while running in main feat script, halting.
child process exited abnormally
</pre><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></BODY></HTML>
